body{
    background-color: #eef9bf;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 47px;
}

header h1{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    color: #75B79E;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 1091px;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 15px;
    transition: all 1s;
 
}



ul img{
    width: 100px;
    height: 100px;
    
}

.sideCard{
    transform: rotateY(180deg);
    background-color: blue;
}