body{
    background-color: #eef9bf;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 47px;
}

header h1{
    font-family: Roboto;    
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75B79E;
}

.desktop{
    font-size: 56px;
}

.mobile{
    display: none;
    font-size: 32px;           
    line-height: 42px;
    letter-spacing: -0.004em;    
    position: absolute;
}

.cartas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
}

.cards{
    width: 117px;
    height: 146px;
    position: relative;
    margin: 10px;
}

.lista{

    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;       
    backface-visibility: hidden;
    transition: all 1s; 
    
}

img{
    width: 100px;
    height: 100px;    
}

.tras{
    transform: rotateY(180deg);
}

.sideCard .tras, .iguais .tras {
    transform: rotateY(0deg);
  }

.sideCard .frente, .iguais .tras {
    transform: rotateY(-180deg);

}

.timer {
    position: fixed;
    display: flex;  
    align-items: center;  
    justify-content: center;
    font-size: 40px;
    right: 0;
    top: 25;
    width: 80px;
    height: 50px;
    background-color: rgba(0,0,0,.4);
    color: white;

  }

  @media (max-width: 335px){
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;               
    }    

    header{
        margin-bottom: 120px;  
        width: 100%;      
    }

    .cartas{
        display: block;
        
    }

    body{
        max-width: 335px;
        position: relative;
    }

    .timer{
        left: 0;
        top: 0;
    }
    
  }